.zuriTraining-nav {
  width: 100%;
  position: fixed;
  z-index: 1100;
  top: 0px;
  left: auto;
  right: 0px;
  background-color: white;
}

.zuriTraining-navWrapper {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.training-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 250px;
  height: 70px;
}

.training-list {
  display: flex;
  margin-left: auto;
}

.training-listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  letter-spacing: 0.02857em;
  padding: 6px 8px;
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

.training-listItem a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
}

.training-enroll {
  display: flex;
  align-items: center;
}

.enroll-thumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e7332b;
  border: 10px solid #e7332b;
  z-index: 1;
}

.enroll-thumb-img {
  width: 100%;
  height: 100%;
}

.enroll-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;
  /* position: absolute; */
  width: 162px;
  height: 50px;
  /* left: 1277px; */
  top: 34px;
  background: #e7332b;
  border-radius: 87px;
}

.enroll-text-title {
  font-size: 1.2rem;
  padding: 5px;
  font-weight: 500;
  text-align: center;
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .zuriTraining-nav {
    width: 100%;
  }
  .zuriTraining-navWrapper {
    padding: 1rem 2rem;
  }
  .training-list {
    display: none;
  }
  .training-listItem {
    margin: 0px 10px 10px 10px;
  }
  .enroll-text-wrap {
    width: 100%;
    height: 100%;
    margin-left: -1rem;
    padding: 0 5px;
  }
  .logo-img {
    width: 120px;

    height: 50px;
  }

  .enroll-thumbs {
    width: 60px;
    height: 50px;
  }
}

.training-hero {
  width: 100%;
  margin: 5rem 0 2rem 0;
}

.hero-wrap {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .hero-wrap {
    flex-direction: column;
  }
}

.lady-svg-wrapper,
.man-svg-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.lady-svg-img {
  width: 400px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .lady-svg-img {
    width: 150px;
  }
}

.lady-svg-img,
.man-svg-img {
  mix-blend-mode: darken;
  width: 300px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .man-svg-img {
    display: none;
  }
}

.typography-wrap {
  width: 100%;
}

.typography-feature {
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.smp-text {
  color: #e7332b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}

.typography-feature h1 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 0.00938em;
  text-align: center;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .typography-feature h1 {
    font-size: 1.6rem;
  }
}

.vector-lne {
  width: 150px;
  /* height: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5rem;
  padding-bottom: 8px;
}

.vector-line-img {
  width: 100%;
  height: 100%;
}

.dm-txt {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  margin: 1rem;
}

.btn-wrap {
  background: #e7332b;
  border-radius: 87px;
  padding: 14px 30px;
}

.btn-enroll-training {
  color: white;
}

.lines {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
}

.maleface-svg {
  width: 70px;
  height: 70px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
}

.wire-svg {
  width: 70px;
  height: 100px;
  position: absolute;
  bottom: -2rem;
  right: 25%;
}

.about {
  width: 100%;
  padding: 0 3rem 0 3rem;
}

.about-grid {
  display: flex;
  /* justify-content: center;  */
  /* align-items: center; */
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .about-grid {
    flex-direction: column;
  }
}

.typography-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .typography-box {
    width: 100%;
  }
  .esp {
    width: 110%;
  }
}

.typography-ft-lrg {
  color: #1b1a20 !important;
  font-family: Graphik !important;
  font-size: 24px;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 130% !important;
  padding-top: 0 !important;
  text-align: center;
  text-transform: uppercase !important;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .typography-ft-lrg {
    font-size: 22px;
    text-align: center;
  }
}

.typography-ft-sml {
  color: #1b1a20 !important;
  font-family: Graphik !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 130% !important;
  padding-top: 0 !important;
  text-align: center;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .typography-ft-sml {
    line-height: 1.1;
  }
}

.coln {
  position: relative;
}

.about-focus-img-wrap {
  width: 200px;
  height: 200px;
}

.about-focus-img {
  width: 100%;
  height: 100%;
}

.readmore-span {
  /* text-align: end !important; */
  border-bottom: 2.5px solid #43b97f;
  font-size: 20px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .readmore-span {
    font-size: 18px;
  }
}

.read-or-hide {
  color: #43b97f;
  cursor: pointer !important;
}

.why-us {
  width: 100%;
  padding: 2rem;
}

.why-us-grid {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .why-us-grid {
    flex-direction: column;
  }
}

.why-us-train {
  width: 100%;
  padding: 0 2rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .why-us-train {
    padding: 0;
  }
}

.train-bx {
  width: 50%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .train-bx {
    width: 100%;
  }
}

.why-us-train-wire-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.why-us-train-wire-img {
  width: 50%;
  height: 80px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .why-us-train-wire-img {
    width: 100%;
    height: 60px;
    padding: 0;
  }
}

.why-us-train-text-title {
  color: #e7332b;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .why-us-train-text-title {
    font-size: 18px;
  }
}

.why-us-train-text-desc {
  color: #1b1a20 !important;
  font-family: Graphik !important;
  font-size: 40px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 130%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .why-us-train-text-desc {
    font-size: 20px !important;
  }
}

.star-svg-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .star-svg-wrap {
    display: none;
  }
}

.star-svg-img {
  width: 200px;
  height: 200px;
}

.details-cards-container {
  background: linear-gradient(
    180deg,
    rgba(255, 244, 240, 0),
    #fff4f0 17.19%,
    #fff4f0 84.37%,
    rgba(255, 244, 240, 0)
  ) !important;
}

.details-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 50px;
  grid-gap: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .details-cards-grid {
    padding: 20px;
  }
}

.details-card-wrap {
  width: 100%;
  padding: 58px 18px 93px 50px;
  margin: 0.6rem;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  position: relative;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.details-card-wrap:hover {
  transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .details-card-wrap {
    padding: 30px 18px 80px 30px;
    width: 80%;
  }
}

.details-card-img-wrap {
  display: flex;
  float: right;
  margin-right: -90px;
  margin-top: -58px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .details-card-img-wrap {
    margin-right: -90px;
    margin-top: -40px;
  }
}

.details-card-img {
  width: 62%;
  /* width: 32%; */
}

.details-card-num {
  margin: 0px;
  font-family: Graphik;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0.00938em;
  color: #fff;
}

.details-card-num-wrap {
  margin: 1rem 0;
}

.details-card-title {
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 36px;
  padding-top: 32px;
  width: 180px;
}

.details-card-text {
  font-family: Graphik !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 130% !important;
}

.help-you {
  background-color: rgb(231, 51, 43);
  margin-top: 149px;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you {
    width: 100%;
    padding: 1rem 2rem 1rem 0;
  }
}

.help-you-grid {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you-grid {
    flex-direction: column;
    padding: 0;
    width: 80%;
  }
}

.help-you-grid-item {
  padding: 2rem;
}

.help-you-grid-item-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  padding: 0.5rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you-grid-item {
    padding: 1rem;
    width: 100%;
  }
  .help-you-grid-item-img-wrap {
    width: 300px;
    height: 350px;
  }
}

.help-you-grid-item-img {
  object-fit: cover;
  width: 100%;
}

.grid-bx1 {
  width: 40%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .grid-bx1 {
    width: 100%;
  }
}

.help-you-wire-img {
  width: 60px;
}

.help-you-grid-item-wire-wrap {
  margin-bottom: 5px;
  /* align-items: center; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.help-you-grid-item-p {
  color: #fff;
  font-family: Graphik;
  font-style: normal;
  line-height: 130%;
}

.help-you-grid-item-h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 130%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you-grid-item-h2 {
    font-size: 25px;
  }
}
.help-you-grid-item-p-b {
  color: #fff;
  font-family: Graphik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding-top: 42px;
  width: 75%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you-grid-item-p-b {
    font-size: 16px;
    padding-top: 30px;
    width: 100% !important;
    text-align: justify;
  }
}

.help-you-grid-item-link {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 18px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #e7332b;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  margin: 1rem 0 2rem 0;
}

.help-you-grid-item-moreactions {
  /* width: 45%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you-grid-item-moreactions {
    grid-template-columns: repeat(2, 160px);
    width: 100%;
  }
}

.help-you-grid-item-moreactions-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 79px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  -webkit-filter: drop-shadow(0 11px 22px rgba(231, 51, 43, 0.1));
  filter: drop-shadow(0 11px 22px rgba(231, 51, 43, 0.1));
  font-size: 15px;
  justify-content: left;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-top: 8px;
  text-transform: none;
  width: 100%;
  -webkit-border-radius: 79px;
  -moz-border-radius: 79px;
  -ms-border-radius: 79px;
  -o-border-radius: 79px;
  /* margin: 1rem; */
  padding: 4px 10px;
  cursor: not-allowed;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you-grid-item-moreactions-item {
    font-size: 12px;
    padding: 0 5px;
    /* width: fit-content; */
  }
}

.help-you-grid-item-moreactions-item-img {
  width: 40px;
  margin-right: 10px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you-grid-item-moreactions-item-img {
    width: 30px;
  }
}

.help-you-grid-item-moreactions-item-p {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  line-height: 130%;
  text-align: center;
  margin-top: 10px;
}

.help-you-clip-art-wrap {
  margin: 1rem;
}

.help-you-clip-art-img {
  width: 150px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .help-you-clip-art-img {
    width: 50px;
    margin-left: 2rem;
  }
}

.scope {
  margin: auto;
  background: rgb(255, 253, 245);
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .scope {
    padding-bottom: 1rem;
  }
}

.scope-main {
  padding: 3rem;
}

.scope-main-text-text {
  width: 50%;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .scope-main {
    padding: 1rem;
  }

  .scope-main-text-text {
    width: 100%;
  }
}

.scope-p {
  color: #e7332b;
  font-family: Graphik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.scope-h2 {
  color: #1b1a20;
  font-family: Graphik;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .scope-h2 {
    font-size: 18px;
    width: 80%;
  }
}

.scope-main-text-svg-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scope-wire {
  width: 120px;
}

.scope-main-cards {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .scope-main-cards {
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    width: fit-content;
  }
}

.scope-card-wrapper {
  /* padding: 1rem; */
  background: #fff;
  border-radius: 41px;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  padding: 40px;
  height: fit-content;
  width: fit-content;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .scope-card-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.scope-main-card-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 20px;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .scope-main-card-text {
    font-size: 15px;
  }
}

.scope-card-svgs {
  display: flex;
  /* margin: 1rem; */
  padding: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .scope-card-svgs {
    padding: 0;
  }
}

.scope-card-svg-img {
  margin-right: 1rem;
  width: 45px;
}

.scope-main-desc {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 140%;
  padding-bottom: 15px;
  padding-top: 20px;
}

.scope-enrol-btn-wrap {
  background: #e7332b;
  border-radius: 87px;
  padding: 14px 30px;
  margin: 2rem 0;
}

.scope-enroll-link {
  color: white;
}

.scope-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}
