.body-talent {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 200;
}
.nav_box {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  padding: 4vh 2vw;
  margin: 0 auto;
}
.nav_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40vw;
  background-color: transparent !important;
  color: #585757 !important;
  font-family: Graphik !important;
  font-size: 18px;
  align-items: center;
  align-content: center;
  /* color: #161617!important; */
  position: relative;
}
.hire_talents {
  padding: 1vh 2vw;
  background: rgb(231, 51, 43);
  color: white;
  font-size: 1rem;
  border: 0;
  border-bottom-right-radius: 0.4rem;
}
.home_underline {
  position: absolute;
  top: -3vh;
  left: 1.5vw;
  font-size: 2rem;
  /* bottom: -2vh; */
  color: rgb(231, 51, 43);
  opacity: 0;
}
.impact_underline {
  position: absolute;
  top: -3vh;
  left: 9.7vw;
  font-size: 2rem;
  /* bottom: -2vh; */
  color: rgb(231, 51, 43);
  opacity: 0;
}
.why_us_underline {
  position: absolute;
  top: -3vh;
  left: 18.5vw;
  font-size: 2rem;
  /* bottom: -2vh; */
  color: rgb(231, 51, 43);
  opacity: 0;
}
.show {
  opacity: 100;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  nav {
    width: 100%;
    margin: 0;
    padding: 1rem 0 0 0;
  }
  .nav_box {
    padding: 8px 0;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 100%;
  }
  .nav_list {
    width: 100%;
  }
  .hidden_mobile {
    display: none;
  }
  .hire_talents {
    padding: 5px 1.5rem;
    /* display: block !important; */
    font-size: 15px;
    margin: 0;
  }
  .home_underline {
    display: none;
  }
}

/* Hero */
.hero_section {
  height: 80vh;
  margin-top: 30vh;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .hero_section {
    margin: 6rem 0 3rem 0;
    width: 100%;
    padding: 0 3rem 0 2rem;
  }
}

.hero_content_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 85vw;
  gap: 2vw;
  margin: 2vh auto;
  align-content: center;
  align-items: center;
  margin-top: 10vh;
}

.hero_img {
  position: relative;
}
.talent_hero_line {
  position: absolute;
  top: 60%;
  width: 15vw;
  right: -6.7vw;
  z-index: -5;
}
.main_hero_img {
  width: 90%;
  z-index: 40;
}
.hero_heading {
  color: #161617;
  font-family: Graphik;
  font-size: 40px;
  font-weight: 800;
  line-height: 49px;
  margin-bottom: 3vh;
  position: relative;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .hero_heading {
    font-size: 35px;
    line-height: 38px;
    width: 80%;
    text-align: center;
  }
}

.colored {
  color: rgb(231, 51, 43);
}

.thick_hero-line-svg {
  position: absolute;
  right: 7vw;
  /* padding: 1rem; */
  top: 3vh;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .hero_content_wrapper {
    width: 100%;
    padding: 0;
  }
  .thick_hero-line-svg {
    top: 8vh;
    right: 1vw;
    width: 90px;
  }
}

.hero_txt_sm {
  width: 78%;
  color: #787878 !important;
  font-family: Graphik !important;
  font-size: 19px !important;
  font-weight: 400;
  line-height: 27px;
}
.hero_btn_box {
  margin: 2vh 0;
}

.hero_hire {
  /* padding: 1vh 2vw; */
  padding: 1rem 2rem;

  background: rgb(231, 51, 43);
  color: white;
  font-size: 1rem;
  margin-right: 1rem;
  border: 0;
  border-bottom-right-radius: 0.4rem;
}
.join_talent_pool {
  padding: 1rem 2rem;

  background-color: #585858 !important;
  /* padding: 1vh 2vw; */
  color: white;
  font-size: 1rem;
  border: 0;
  border-bottom-right-radius: 0.4rem;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .hero_content_wrapper {
    width: 100%;
    padding: 0;
  }
  .thick_hero-line-svg {
    top: 8vh;
    right: 1vw;
    width: 90px;
  }

  .hero_txt_sm {
    font-size: 16px;
    /* margin: auto; */
    text-align: center;
    width: 80%;
  }
  .hero_text {
    width: 100%;
  }
  .hero_btn_box {
    display: flex;
  }
  .hero-b {
    padding: 1rem;
  }
}

/* Impact section */
.all_impact_txt {
  width: 35vw;
}
.impact_section {
  background-image: url(https://talent.zuri.team/static/media/bgsection2.063bd869082548bafa74.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .all_impact_txt {
    width: 100%;
  }
  .impact_section {
    background: #fff;
  }
}

.impact_section_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 85vw;
  margin: 2vh auto;
  padding: 15vh 0;
}
.impact_heading {
  font-size: 3rem;
  width: 40vw;
  line-height: 130%;
  margin-bottom: 4vh;
  /* font-size: 40px; */
}
.impact_img {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.impact_img img {
  width: 65%;
}
.countries_impacted {
  display: flex;
  gap: 1vw;
  box-sizing: content-box;
  margin-top: 3vh;
}
.country {
  background-color: white;
  padding: 1.5vh;
  border-radius: 0.4rem;
}
.impact_stats {
  color: #787878;
  font-family: Graphik;
  font-size: 19px;
  font-weight: 750;
  margin-bottom: 1vh;
}
.country_placed {
  color: #787878;
  font-family: Graphik;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .impact_section_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .impact_heading {
    /* font-size: 1rem; */
    font-size: 28px;
    line-height: 40px;
    margin: auto;
    text-align: inherit;
    font-weight: 700;
    width: 100%;
  }

  .country {
    width: 20%;
  }

  .impact_img {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .impact_img img {
    width: 100%;
  }
}

/* Tag section */
.tags_section {
  padding: 10vh;
}
.tag_section_wrapper {
  width: 90vw;
  margin-left: 3vw;
}
.tag_box {
  margin: 8vh 0;
  position: relative;
}
.needed_skills {
  font-size: 3rem;
  width: 40vw;
  line-height: 49px;
  margin-bottom: 4vh;
}
.tag_line {
  position: absolute;
  top: 4vh;
  right: 3vw;
}
.needed_talent {
  font-size: 3rem;
  width: 40vw;
  line-height: 49px;
  margin-bottom: 4vh;
}
.btn_wrapper {
  display: grid;
  gap: 1vw;
  margin: 2vh 0;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .tags_section {
    margin: 4rem 0 2rem 0;
    padding: 1.2rem;
  }
  .tag_section_wrapper {
    width: 100%;
    margin: 0;
  }
  .tag_box {
    margin: 8vh 0;
    width: 100%;
    position: relative;
  }
  .needed_skills {
    margin-bottom: 3rem;
    font-size: 28px;
    line-height: 30px;
    margin: auto;
    font-weight: 700;
    text-align: inherit;
    width: 100%;
  }
  .tag_line {
    position: absolute;
    top: 4vh;
    right: 3vw;
    display: none;
  }
  .needed_talent {
    margin-bottom: 3rem;
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    margin: auto;
    text-align: inherit;
    width: 100%;
  }
  .btn_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 3rem 0;
  }
}

.tag_btn {
  background-color: white;
  padding: 1.5vh 2vw;
  border: 0;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  color: #787878 !important;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.116);
  transition: 0.5s all;
  z-index: 20;
}
.tag_btn:hover {
  transform: translateY(-2vh);
}

/* ?Why us  */
.why_hire_us {
  position: relative;
}
.why_us_heading {
  text-align: center;
  padding: 2vh 0;
  font-size: 32px;
  margin-bottom: 4vh;
}
.why_hire_us {
  background-color: rgb(255, 248, 229);
  padding: 10vh 0;
}
.why_us_card_wrapper_lg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 85vw;
  margin: 2vh auto;
  grid-gap: 2vw;
}
.why_us_card_wrapper_sm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  width: 55vw;
  margin: 4vh auto;
  grid-gap: 2vw;
  margin-bottom: 8vh;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .why_us_card_wrapper_sm {
    width: 100%;
    margin: 1rem auto;
    padding: 0 2rem;
  }
}
.card {
  background-color: white;
  border-bottom-right-radius: 1.5rem;
  color: #787878 !important;
  padding: 8vh 2vw;
  text-align: center;
  z-index: 50;
}
.card:hover {
  background-color: black;
  color: #fff !important;
}
.card_img {
  margin-bottom: 2vh;
  width: 80px;
  align-self: center;
}
.rope {
  position: absolute;
  left: 0;
  top: 52%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .rope {
    top: 25%;
  }
}

.why_hire_btn {
  text-align: center;
  padding: 5vh auto;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .why_hire_btn {
    margin-top: 3rem;
  }
  .hero_hire,
  .join_talent_pool {
    /* padding: 1rem 2rem; */
  }
}

/* Footer */
footer {
  background-color: rgb(22, 22, 23);
  color: white;
  padding: 6vh 0;
}
.footer_links_wrapper {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 5vh auto;
}
.all_social img {
  width: 3vw;
  height: 5vh;
}
.copyright {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 2vh auto;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .footer_links_wrapper {
    flex-direction: column;
  }
  .footer_logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer_logo img {
    width: 50%;
  }

  .all_social a img {
    width: 100%;
    /* font-size: 3rem; */
    margin-right: 1rem;
  }

  .copyright {
    flex-direction: column-reverse;
    text-align: center;
  }
}
